@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #070b14;
}

::selection {
    color: #fff;
    background: #2563eb;
}